@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Barlow Condensed', sans-serif; */
.container {
  background-color: grey;
  width: 500px;
  height: 600px;
  margin: auto;
  padding: 2px;
  line-height: 10px;
  /* font-family: 'Indie Flower', cursive; */
  font-weight: bold;
}
body {
  margin-top: 60px;
  font-family: "Ubuntu", sans-serif;
  word-spacing: 2px;
}
h2 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  background-color: darkgrey;
}
input {
  padding: 10px;
  margin-bottom: 5px;
  width: 85%;
  display: block;
  border-radius: 5px;
  outline: transparent;
}
form {
  margin-left: 35px;
}

input .error {
  border: 2px solid red;
}
input .success {
  border: 2px solid green;
}
button {
  width: 90%;
  padding: 10px;
  background-color: blue;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
}
button:hover {
  background-color: red;
}
small {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #ff0033;
    text-shadow: black 5px 8px 10px;
    margin-top: 10px;
}
.lining {
    margin-bottom: 5px;
}