* {
    margin: 0px;
}
.head_img {
    background-image: url(../image/alexander-london-3l1sjp562qQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    list-style-type:none;
    background-color: rgba(120, 0, 255, .4);
    display: flex;
    justify-content: end;
    padding: 2px;
    margin-bottom: 60px;
}
li {
    float: right;
    /* display: inline-flex; */
    margin: 20px;
    margin-right: 40px;
}
a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    text-shadow: rgba(0, 0, 0, .8) 2px 2px 10px;
    /* transition: font-size 2s ease, top 2s ease ,left 2s ease,color 2s ease,font-weight 2s ease,text-shadow 2s ease ; */
    transition: all 0.4s;
}
a:hover {
    font-size: 16px;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, .8) 3px 3px 2px;
    color: black;
    transition: font-size 1.2s ease, top 1.2s ease ,left 1.2s ease,color 1.2s ease,font-weight 1.2s ease,text-shadow 1.2s ease ;
}
img {
    width: 125px;
    z-index: 0;
    transition: all .5s ;
}
img:hover {
    transform: translate(350px,0px);
    width: 400px;
    opacity: 100%;
    box-shadow:black 5px 5px 80px ;
    left: 300px;
    top: 0px;
    z-index: 99;
    transition: width 2s ease-out,box-shadow 2s ease-out,opacity 2s ease-out, 3s ease-out;
}
.color-bg {
    background-image: url(../image/yellow_bg_girl-walk.jpg);
    background-clip: border-box;
    background-repeat: no-repeat;
    height: 500px;
}
.align {
    display: block;
    float: right;
    margin-right: 25px;
}
.hide {
    overflow: hidden;
    height: 0;
}
#changeing {
    padding: 5px 5px;
    float: right;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border: 5px double white;
    margin-right: 55px;
    cursor: pointer;
}